{% extends "wiki/base.html" %}

{% block sub-title %}{{ file.display_name }} | {% endblock %}

{% load imagetags %}
{% block content %}
<h1>File on <a href="{{ file.wiki_page.get_absolute_url }}">{{ file.wiki_page.name }}</a>: {{ file.display_name }}</h1>

<table>
	{% if file.description %}
	<tr>
		<th>description:</th>
		<td>{{ file.description }}</td>
	</tr>
	{% endif %}
	{% if file.created %}
	<tr>
		<th>created:</th>
		<td>{{ file.created }}</td>
	</tr>
	{% endif %}
	<tr>
		<th>original file:</th>
		<td><a href="{{ file.file.url }}">{{ file.file.url }}</a></td>
	</tr>
</table>

{% endblock %}
