{% extends "wiki/base.html" %}
{% load wikitags %}
{% block sub-title %}Wiki | {% endblock %}

{% block sub-style %}
#left-column { 
	width: 140px; 
	border-right: solid 1px #DDD;
}
#left-column li { list-style: none; margin-left: 0px; }
#main-column {
	width: 650px;
	float: right;
}
{% endblock %}

{% block content %}
<h1>Wiki:</h1>
<div id="main-column">
	{% with "true" as hide_title %}{% include "wiki/wiki_render.frag" %}{% endwith %}
</div>
<div id="left-column">
	<h4>Page Index:</h4>
	<ul>
	{% for page in wiki_pages %}
	   {% if page.public or request.user.is_staff %}
		   <li><a title="{{ page.name }}" href="{{ page.get_absolute_url }}">{{ page.name|truncate:"18" }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
	{% if wiki_pages %}
	   <h4>Quicklinks:</h4>
	   <ul>
	      <li><a href="{% url wiki.views.wiki_print_all %}">printable all-in-one</a></li>
	      {% if request.user.is_staff %}
	         <li><a href="{% url admin:app_list 'wiki' %}">wiki admin</a></li>
	      {% endif %}
	   </ul>
	{% endif %}
</div>
{% endblock %}