{% extends "wiki/base.html" %}

{% block sub-style %}
#left-column { 
	width: 140px; 
	border-right: solid 1px #DDD;
}
#left-column li { list-style: none; margin-left: 0px; }
#main-column {
	width: 650px;
	float: right;
}
{% endblock %}

{% block content %}
<h1>Wiki:</h1>
<div id="main-column">
	{% with "true" as hide_title %}{% include "wiki/wiki_render.frag" %}{% endwith %}
</div>
<div id="left-column">
	<h4>Page Index:</h4>
	<ul>
	{% for page in wiki_pages %}
		<li><a href="{{ page.get_absolute_url }}">{{ page.name }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}