{% extends "wiki/base.html" %}
{% load imagetags %}

{% block sub-title %}Edit | {{ page.name }} | {% endblock %}

{% block style %}
#id_content { width: 100%; height: 400px; }
#page-form { margin-bottom: 10px; float: left; width: 620px; }
#page-form input[type=submit] { float: right; }
.wiki-photo-item { margin-top: 10px; }
#cheat-sheet { float: right; width: 150px; border: dashed 1px #DDD; padding: 0 10px; color: #666; }
{% endblock %}

{% block sub-head %}
<script type="text/javascript">
function saveThenAddFile(){
	$("#page-form").attr('action', '.?next={% url wiki.views.wiki_add page.name %}');
	$("#page-form").submit();
}
</script>
{% endblock %}

{% block content %}
<h1>Edit Page: <a href="{{ page.get_absolute_url }}">{{ page.name }}</a></h1>

<div id="cheat-sheet">
	<h3>Cheat Sheet:</h3>
	<h4>WikiLinks:</h4>
	CamelCase to link to a wiki page.
	
	<h4>Lists:</h4>
	- Apples<br/>
	- Oranges<br/>
	- Aesthetics<br/>
	<br/>
	or<br/>
	<br/>
	1 Apples<br/>
	2 Oranges<br/>
	3 Handcarts<br/>

	<h4>Headings:</h4>
	#Biggest<br/>
	##Second Biggest<br/>
	###Third Biggest<br/>
	
	<h4>Links:</h4>
	[text](address "title")
	
	<h4>Horizontal Rules:</h4>
	***
	
	<p>[<a href="{% url wiki.views.index %}WikiHelp">more help</a>]</p>
</div>

<form id="page-form" action="." method="post">
	{% for field in page_form %}{{ field }}{% endfor %}
	<input type="submit" value="save" />
</form>
<br clear="all" />
<div class="wiki-control-links">[<a onclick="saveThenAddFile(); return false;" href="{% url wiki.views.wiki_add page.name %}">add file or photo</a>]</div>

{% if page.wikiphoto_set.all %}
<h3>Photos:</h3>
<p>To include a photo in the page, type a photo tag which starts with "Photo" and ends with the photo id, like so "Photo5".<br/>  You will find the photo tag above each photo listed below.</p>
{% endif %}
{% for photo in page.wikiphoto_set.all %}
	<div class="wiki-photo-item">
		Photo{{ photo.id }}<br/>
		<a href="{{ photo.get_absolute_url }}">
			<img alt="{{ photo.display_name }}" title="{{ photo.display_name }}" src="{{ photo.image.url|fit_image:"150x150" }}" /> 
		</a>
	</div>
{% endfor %}

{% if page.wikifile_set.all %}
<h3>Files:</h3>
{% endif %}
{% for file in page.wikifile_set.all %}
	<div class="wiki-file-item">
		<a href="{{ file.file.url }}">{{ file.display_name }}</a> <span class="wiki-control-link">[<a href="{{ file.get_absolute_url }}">info</a>]</span>
	</div>
{% endfor %}

{% endblock %}
