<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}{% block sub-title %}{% endblock %}{{ site.name }}{% endblock %}</title>
	<link href="/media/art_cloud/base.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/media/art_cloud/jquery.js"></script>
	<script type="text/javascript" src="/media/art_cloud/base.js"></script>
	<script src="{% url datonomy.views.datonomy_js %}" type="text/javascript"></script>

	<style type="text/css">
	#header-links { position: absolute; right: 10px; top: 10px; z-index: 3;}
	{% block style %}{% endblock %}
	</style>
	{% block sub-head %}{% endblock %}
</head>
<body>{% block body %}
<div id="header">
{% block header %}
	<h2><a href="/">{{ site.name }}</a></h2>
	<div id="header-links">
		{% if request.user.is_authenticated %}
			<a href="/">home</a> |
		{% endif %}
		{% if request.user.is_staff %}
			<a href="/admin/">admin</a> |
		{% endif %}
		{% if request.user.is_authenticated %}
			<a href="{% url front.views.heartbeats %}">heartbeats</a> |
			<a href="{% url datonomy.views.calendar %}">calendar</a> |
			<a href="{% url front.views.tags %}">tags</a> |
			<a href="{% url wiki.views.index %}">wiki</a> |
			<a href="." onclick="$('#search-form').toggle(); return false;">search</a> |
			<a href="{% url django.contrib.auth.views.logout_then_login %}">logout</a>
		{% endif %}
		<br />
		<form id="search-form" action="{% url front.views.search %}" method="post">
			{% for field in search_form %}{{ field }}{% endfor %}
			<input type="submit" value="search" />
		</form>
	</div>
{% endblock %}
</div>
<div id="content">{% block content %}{% endblock %}</div>
{% block footer %}{% endblock %}
{% endblock %}</body>
</html>
