{% extends "art_cloud/base.html" %}

{% block sub-title %}Channel Group | {% endblock %}

{% block sub-head %}
<script type="text/javascript">
var sliderHeight = 150;

$(document).ready(function() {
	// set up the master output slider
	$("#master-output-slider").slider({
		orientation: "vertical",
		range: "min",
		min: -100,
		max: 100,
		value: {{ channel_group.master_gain }},
		slide: function(event, ui) { $("#master-output-amount").html(ui.value); },
		change: function(event, ui) { changeMasterGain(ui.value); }
	});
	$("#master-output-slider").height(sliderHeight);
	$("#master-output-amount").html($("#master-output-slider").slider("value"));

	// set up the channel sliders
	{% for channel in channel_group.channels %}
		$("#channel-slider-{{channel.id}}").slider({
			orientation: "vertical",
			range: "min",
			min: 0,
			max: 10,
			value: {{ channel.gain }},
			slide: function(event, ui) { $("#channel-amount-{{channel.id}}").html(ui.value); },
			change: function(event, ui) { changeChannelGain({{channel.id}}, ui.value); }
		});
		$("#channel-slider-{{channel.id}}").height(sliderHeight);
		$("#channel-amount-{{channel.id}}").html($("#channel-slider-{{channel.id}}").slider("value"));
	{% endfor %}
});

function changeMasterGain(gain){
	console.log('Changing master gain: ' + gain);
	$.ajax({
		type: "POST",
		url: "/api/audio/ab-group/" + {{channel_group.id}} + "/gain/",
		data: "gain=" + gain,
		success: function(msg){
			console.log("Master gain received: " + msg);
		}
	});
}

function changeChannelGain(channel_id, gain){
	console.log('Changing ' + channel_id + ': ' + gain);
	$.ajax({
		type: "POST",
		url: "/api/audio/ab-channel/" + channel_id + "/gain/",
		data: "gain=" + gain,
		success: function(msg){
			console.log("Gain received: " + msg);
		}
	});
}

</script>
{% endblock %}

{% block style %}
#left-column { visibility: hidden; position: absolute; z-index: -100; width: 300px; float: left; }
#right-column { width: 500px; /*float: right;*/ }
#master-output-div, .channel-div { text-align: center; margin-bottom: 20px; }
.channel-div { display: inline; float: left; }
.channel-slider { margin: 10px 10px; }
#master-output-slider { margin: 10px 60px; }
#master-output-div { width: 130px; }
.channel-amount { }
#settings-form { margin: 10px 0 10px 10px; }
#settings-form label { display: block; margin-bottom: 10px; }
#channels-form { margin-left: 80px; }
{% endblock %}

{% block content%}
<h1>{{ channel_group.name|safe }}:</h1>

<div id="left-column">
	<div id="master-output-div">
		<label for="master-output-amount">Master Output Gain:</label>
		<div class="channel-slider" id="master-output-slider"></div>
		<span class="channel-amount" id="master-output-amount"></span>
	</div>
</div>

<div id="right-column">
	<div style="margin: 0px 0px 10px 0;">Channel gains:</div>
	{% for channel in channel_group.channels %}
		<div class="channel-div" id="channel-{{channel.id}}">
			<label for="channel-amount-{{channel.id}}">{{channel.channel_type}}{{ channel.number }}</label>
			<div class="channel-slider" id="channel-slider-{{channel.id}}"></div>
			<span class="channel-amount" id="channel-amount-{{channel.id}}"></span>
		</div>
	{% endfor %}
	<br clear="all" />
</div>


{% endblock %}

/* Copyright 2009 GORBET + BANERJEE (http://www.gorbetbanerjee.com/) Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */