
ADMINS = ( ('Your Name', 'you@example.com'), )
MANAGERS = ADMINS

# The path to the art server log file
LOGGING_NAME = '/tmp/art-server.log'

SECRET_KEY = 'xxx'

from front.tasks import HeartbeatTask
SCHEDULED_TASKS = [HeartbeatTask()]

PRODUCTION = False
DEBUG = True
TEMPLATE_DEBUG = DEBUG

#CACHE_BACKEND = 'dummy:///'
CACHE_BACKEND = 'locmem:///'

DATABASE_ENGINE = 'postgresql_psycopg2' 
DATABASE_NAME = 'db_name'
DATABASE_USER = 'db_user'
DATABASE_PASSWORD = '4321'
DATABASE_HOST = ''
DATABASE_PORT = ''

DEFAULT_FROM_EMAIL = "something@example.com"
EMAIL_HOST = "smtp.example.com"
EMAIL_HOST_PASSWORD = "password"
EMAIL_HOST_USER = "username"
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_SUBJECT_PREFIX = "[Art Cloud] "

WEBMAIL_URL = "https://mail.google.com/a/example.org/" # or None if you don't want this linked from the UI
EXTERNAL_WIKI_URL = None # or a URL to an external wiki

ART_SERVER_HOST = '127.0.0.1'
ART_SERVER_PORT = 8000

HEARTBEAT_TIMEOUT = 500 # in seconds

ALERT_SECRET = "some long secret string"
ALERT_EMAIL_ADDRESS = "The email address to which the alert service sends alert emails"

TWILIO_PHONE_NUMBER = '(415) 555-1212'
TWILIO_ACCOUNT_GUID = 'aaabbbcccddd'
REQUIRE_TWILIO_AUTH = True

import logging
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s %(levelname)s %(message)s', filename=LOGGING_NAME, filemode = 'w')
