{% extends "art_cloud/base.html" %}
{% load imagetags %}
{% load listtags %}
{% load debugtags %}
{% block sub-title %}{{ equipment.name }} | {% endblock %}

{% block sub-head %}
<script type="text/javascript">
function initialize(){
	$(".equipment-notes-widget").hide();
}
$(document).ready(function() { initialize(); });
</script>
{% endblock %}

{% block style %}
.equipment-notes-widget { 
	position: absolute; left; 20px; 
	background-color: #FFF; border: solid 2px #DDD;
	padding: 20px; 
}
{% endblock %}

{% block content%}
<h1><a href="{{ equipment.equipment_type.get_absolute_url }}">{{ equipment.equipment_type.name }}</a>: {{ equipment.name }}</h1>

<table>
	{% if equipment.installationsite_set.all %}
	<tr>
		<th>location{{ equipment.installationsite_set.all|pluralize }}:</th>
		<td>
			{% for site in equipment.installationsite_set.all %}
				<a href="{{ site.get_absolute_url }}">{{ site.name }}</a>{% loop_comma %}
			{% endfor %}
		</td>
	</tr>
	{% endif %}
	{% if equipment.notes or equipment_notes_form %}
	<tr>
		<th>notes:</th>
		<td>
			<pre class="equipment-notes" id="equipment-notes-{{ equipment.id }}">{{ equipment.notes }}</pre>
			{% if equipment_notes_form %}
			<div class="equipment-notes-widget" id="equipment-notes-widget-{{ equipment.id }}">
				<div style="float: right;">
					[<a href="." onclick="$('#equipment-notes-widget-{{ equipment.id }}').hide(); $('#equipment-notes-{{ equipment.id }}').show(); return false;">close</a>]
				</div>
				<form action="." method="post">
					{% for field in equipment_notes_form %}{{ field}}{% endfor %}
					<input type="hidden" name="equipment_form_id" value="{{ equipment.id }}" />
					<input type="submit" value="save note" />
				</form>
			</div>
			[<a href="." onclick="$('#equipment-notes-{{ equipment.id }}').hide(); $('#equipment-notes-widget-{{ equipment.id}}').show(); return false">edit</a>]
			{% endif %}
		</td>
	</tr>
	{% endif %}
</table>

{% endblock %}

/* Copyright 2009 GORBET + BANERJEE (http://www.gorbetbanerjee.com/) Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */