{% extends "art_cloud/base.html" %}
{% load imagetags %}

{% block style %}
#right-column { float: right;  width: 30%;}
#center-column { float: right;  width: 52%; }
#left-column { width: 45%; }
#left-center-wrapper { position: relative; width: 68%;  }
{% endblock %}

{% block content%}

<div id="right-column">
	<h2>Sites:</h2>
	<ul>
		{% for site in sites %}
			<li><a href="{{ site.get_absolute_url }}">{{ site.name }}</a></li>
		{% endfor %}
	</ul>
</div>
<div id="left-center-wrapper">
	<div id="center-column">
		<h2>Open Installations:</h2>
		<ul>
			{% for installation in installations %}
				{% if installation.is_opened %}
				<li><a href="{{ installation.get_absolute_url }}">{{ installation.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		<h2>Upcoming Installations:</h2>
		<ul>
			{% for installation in installations %}
				{% if not installation.is_opened and not installation.is_closed %}
				<li><a href="{{ installation.get_absolute_url }}">{{ installation.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		<h2>Closed Installations:</h2>
		<ul>
			{% for installation in installations %}
				{% if installation.is_closed %}
				<li><a href="{{ installation.get_absolute_url }}">{{ installation.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div id="left-column">
		<h2>Artists:</h2>
		<ul>
			{% for profile in profiles %}
			<li><a href="{{ profile.get_absolute_url }}">{{ profile.display_name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

/* Copyright 2009 Trevor F. Smith Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */