{% extends "art_cloud/base.html" %}
{% load imagetags %}
{% load listtags %}
{% block style %}
{% endblock %}

{% block content%}
<h1>Site: {{ site.name }}</h1>
<table>
	<tr>
		<th>location:</th>
		<td>{{ site.location }}</td>
	</tr>
	<tr>
		<th>installations:</th>
		<td>
			{% for installation in site.installation_set.all %}
				<a href="{{ installation.get_absolute_url }}">{{ installation }}</a>{% loop_comma %}
			{% endfor %}
		</td>
	</tr>
	<tr>
		<th>equipment:</th>
		<td>
			{% for equipment in site.equipment.all %}
				{{ equipment }}{% loop_comma %}
			{% endfor %}
		</td>
	</tr>
	<tr>
		<th>notes:</th>
		<td>{{ site.notes }}</td>
	</tr>
	<tr>
		<th>images:</th>
		<td>
			{% for photo in site.photos.all %}
				<a href="{{ photo.get_absolute_url }}"><img alt="{{ photo.title }}" title="{{ photo.title }}" src="{{ photo.image.url|fit_image:"150x150" }}" /></a>
			{% endfor %}
		</td>
	</tr>
</table>


<table style="margin-top: 40px;">
<form enctype="multipart/form-data" action='.' method='post'>
	{{ photo_form }}
	<tr><th></th><td><input type="submit" value="add photo"></td></tr>
</form>
</table>
{% endblock %}

/* Copyright 2009 Trevor F. Smith Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */