{% extends "art_cloud/base.html" %}
{% load imagetags %}
{% load listtags %}

{% block content%}
<h1>Installation: {{ installation.name }}</h1>
<table>
	{% if installation.artists.all or installation.groups.all %}
	<tr>
		<th>artists:</th>
		<td>
			{% for artist in installation.artists.all %}
				<a href="{{ artist.get_profile.get_absolute_url }}">{{ artist.get_profile.display_name }}</a>{% loop_comma %}{% endfor %}{% ifnotequal installation.artists.all.count 0 %}{% ifnotequal installation.groups.all.count 0 %},{%endifnotequal%}{%endifnotequal%}
			{% for artist_group in installation.groups.all %}
				{% for artist in artist_group.artists.all %}<a href="{{ artist.get_profile.get_absolute_url }}">{{ artist.get_profile.display_name }}</a>{% loop_comma %}{% endfor %}
			{% endfor %}
		</td>
	</tr>
	{% endif %}
	{% ifnotequal installation.groups.all.count 0 %}
	<tr>
		<th>groups:</th>
		<td>
			{% for artist_group in installation.groups.all %}
					<a href="{{ artist_group.get_absolute_url }}">{{ artist_group }}</a>{% loop_comma %}
			{% endfor %}
		</td>
	</tr>
	{% endifnotequal %}
	<tr>
		<th>site:</th>
		<td><a href="{{ installation.site.get_absolute_url }}">{{ installation.site }}</a></td>
	</tr>
	<tr>
		<th>opened:</th>
		<td>{{ installation.opened|date:"F j, Y \a\t g:i A" }}</td>
	</tr>
	<tr>
		<th>closed:</th>
		<td>{{ installation.closed|date:"F j, Y \a\t g:i A" }}</td>
	</tr>
	<tr>
		<th>notes:</th>
		<td>{{ installation.notes }}</td>
	</tr>
	<tr>
		<th>last heartbeat:</th>
		<td>
			{% with installation.heartbeat_set.all|first as heartbeat %}
				{{ heartbeat.created|date:"F j, Y \a\t g:i A" }}
				{% if heartbeat.info %}<p>{{ heartbeat.info }}</p>{% endif %}
			{% endwith %}
		</td>
	</tr>
	<tr>
		<th>photos:</th>
		<td>
			{% for photo in installation.photos.all %}
				<a href="{{ photo.get_absolute_url }}"><img src="{{ photo.image.url|fit_image:"150x150" }}" /></a>
			{% endfor %}
		</td>
	</tr>
</table>

<table style="margin-top: 40px;">
<form enctype="multipart/form-data" action='.' method='post'>
	{{ photo_form }}
	<tr><th></th><td><input type="submit" value="add photo"></td></tr>
</form>
</table>

{% endblock %}

/* Copyright 2009 Trevor F. Smith Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */