{% extends "art_cloud/base.html" %}
{% load imagetags %}
{% load listtags %}
{% load clue %}
{% block sub-title %}{{ installation.name }} | {% endblock %}

{% block sub-head %}
<link rel="stylesheet" type="text/css" href="/admin-media/css/widgets.css" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<link href="/media/art_cloud/admin.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/admin-media/js/core.js"></script>
<script type="text/javascript" src="/admin-media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/admin-media/js/calendar.js"></script>
<script type="text/javascript" src="/admin-media/js/admin/DateTimeShortcuts.js"></script>

<script type="text/javascript">

function showAddNamedDateForm(){ $("#add-named-date").show(); $("#id_name").focus(); }
function hideAddNamedDateForm(){ $("#add-named-date").hide(); }

function initialize(){
	$("#error-message").hide();
	$("#tag-form").hide();
	$(".installation-notes-widget").hide();
	$("#error-message").show("slide", { direction: "up" }, 1000);
	setTimeout("hideErrorMessage();", 5000);
}
$(document).ready(function() { initialize(); });

function hideErrorMessage(){
	$("#error-message").hide("slide", { direction: "down" }, 1000);
}

</script>
{% endblock %}

{% block style %}
h4 { margin-top: 20px; }
#id_tags { width: 400px; }
#add-named-date, .installation-notes-widget { 
	position: absolute; left; 20px; 
	background-color: #FFF; border: solid 2px #DDD;
	padding: 20px; 
}
{% endblock %}

{% block page_help_icon %}{% include "clue/page_help_icon.frag" %}{% endblock %}
{% block page_help %}{% help_text "installation detail" %}{% endblock %}


{% block content%}
<h1>Artwork: {{ installation.name }}</h1>

{% if error_message %}
<div id="error-message">{{ error_message }}</div>
{% endif %}

{% with request.user.is_staff as edit_tags %}{% with "true" as hide_title %}{% include "front/installation_item.frag" %}{% endwith %}{% endwith %}

{% endblock %}

/* Copyright 2009 GORBET + BANERJEE (http://www.gorbetbanerjee.com/) Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */