{% extends "art_cloud/base.html" %}
{% load imagetags %}

{% block content%}
<h1>Profile: {{ profile.display_name }}</h1>
{% if request.user.is_staff %}
	<form method="post">
		<table>
		{{ user_form }}

		{{ user_profile_form }}
		</table>
		<input type="submit" value="update profile" />
	</form>
{% else %}
	<table>
		<tr>
			<th>username:</th>
			<td>{{ profile.user.username }}</td>
		</tr>
		<tr>
			<th>bio:</th>
			<td>{{ profile.bio }}</td>
		</tr>
		<tr>
			<th>url:</th>
			<td>{{ profile.url }}</td>
		</tr>
	</table>
{% endif %}

<h2>Installations:</h2>
<ul>
	{% for installation in profile.user.installation_set.all %}
	<li><a href="{{ installation.get_absolute_url }}">{{ installation.name }}</a></li>
	{% endfor %}
</ul>
{% endblock %}

