{% extends "art_cloud/base.html" %}
{% load imagetags %}
{% load listtags %}

{% block sub-title %}{{ profile.display_name }} | {% endblock %}

{% block sub-head %}
<script type="text/javascript">
function init(){
	$("#profile-edit-widget").hide();
}
$(document).ready(function() { init(); });
</script>
{% endblock %}

{% block style %}
#profile-edit-widget { border: solid 2px #DDD; position: absolute; background-color: #FFF; padding: 10px; }
{% endblock %}

{% block content%}
<h1>Artist: {{ profile.display_name }}</h1>
{% if request.user.is_staff %}
<div id="profile-edit-widget">
	<div style="float: right">[<a href="." onclick="$('#profile-edit-widget').hide(); return false;">close</a>]</div>
	<h2>Edit profile:</h2>
	<form method="post">
		<table>
		{{ user_form }}
		{{ user_profile_form }}
		</table>
		<input type="submit" value="update profile" />
		{% csrf_token %}
	</form>
</div>
[<a href="." onclick="$('#profile-edit-widget').show(); return false;">edit user info</a>]
{% endif %}

{% with "true" as hide_name %}{% include "front/artist_item.frag" %}{% endwith %}


{% endblock %}

/* Copyright 2009 GORBET + BANERJEE (http://www.gorbetbanerjee.com/) Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */

