{% extends "art_cloud/base.html" %}
{% load imagetags %}
{% load listtags %}
{% load tagging_tags %}

{% block sub-title %}Search | {% endblock %}

{% block sub-head %}
<script type="text/javascript">
function initialize(){
	$("#search-form").show();
	$("#id_terms").focus();
}
$(document).ready(function() { initialize(); });

</script>
{% endblock %}

{% block style %}
#installation-results .installation-item { width: 350px; }
#installation-results .even-row, #artist-results .even-row { padding: 0px 0px 20px 0px; }
#artist-results { float: right; width: 350px;  }
{% endblock %}

{% block content%}
<h1>Search</h1>

<div id="artist-results">
	{% if artist_group_results %}
		<h2>Groups:</h2>
		{% for artist_group in artist_group_results %}
			{% include "front/artist_group_item.frag" %}
		{% endfor %}
	{% endif %}
	<h2>Artists:</h2>
	{% for profile in artist_results %}
		{% include "front/artist_item.frag" %}
	{% endfor %}
</div>

<div id="installation-results">
	<h2>Installations:</h2>
	{% for installation in installation_results %}
		{% include "front/installation_item.frag" %}
	{% endfor %}
</div>
{% endblock %}

/* Copyright 2009 GORBET + BANERJEE (http://www.gorbetbanerjee.com/) Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */