@import url("reset.css");

body { 
	font-size:12px;
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	color:#000;
	background:#FFF;
	margin: 10px 10px 10px 10px;
	width: 800px;
	position: relative;
}

a:link, a:visited { color: #666699; text-decoration:none; }
a:hover { color: #9999CC; text-decoration: underline; }
a.section:link, a.section:visited { color: white; text-decoration:none; }
 
p, ol, ul, dl { margin:.2em 0 .8em 0; }
p { padding:0; line-height:140%; }
 
h1,h2,h3,h4,h5 { font-weight:bold; }
h1 { font-size:18px; color:#666; padding:0 6px 0 0; margin:0 0 .4em 0; }
h2 { font-size:16px; margin:1em 0 .5em 0; }
h3 { font-size:14px; margin:.8em 0 .3em 0; color:#666; font-weight:bold; }
h4 { font-size:12px; margin:1em 0 .8em 0; padding-bottom:3px; }
h5 { font-size:10px; margin:1.5em 0 .5em 0; color:#666; text-transform:uppercase; letter-spacing:1px; }

blockquote { margin: 15px; font-style: italic; }

ul { margin: 10px 0 10px 0; }

li { margin: 0 0 10px 15px; }
ul li { list-style: disc; }
ol li { list-style: decimal; }

table, td, tr { text-align: left; }
th, td { padding-bottom: 5px; vertical-align: top; }
th { text-align: right; vertical-align: top; padding-right: 8px; }

.even-row { padding: 20px 10px; }
.odd-row { background-color: #EEE; padding: 10px 10px; }

#recent-dates-pulldown { width: 200px; background-color: #FFF8DC; }
#recent-dates-pulldown li { line-height: 20px; }
.date-list input { display: inline; }

.hover-tr .hover-td { visibility: hidden; }
.hover-tr:hover .hover-td { visibility: visible; }